#subheader
  .inner
    .container
      %h1 Contact Us
#subpage
  .container
    .row
      .span12
        %h3
          %span.slash //
          Get in Touch
        %br
        %p
          We want to hear from you! Just enter your name, email address, and message into the form below and send away.
        %br
        %iframe{:frameborder => "0", :height => "260", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=d&source=s_d&saddr=396+Ano+Nuevo+Ave,+Sunnyvale,+CA&daddr=&hl=en&geocode=Fd-HOgIdLsK5-Cn9AcSKAbePgDERbI3X6x5n_A&aq=0&oq=396+&sll=37.397161,-122.024121&sspn=0.151922,0.305901&mra=ls&ie=UTF8&t=m&z=12&output=embed", :width => "100%"}
        %br/
        %small
          %a{:href => "https://maps.google.com/maps?f=d&source=embed&saddr=396+Ano+Nuevo+Ave,+Sunnyvale,+CA&daddr=&hl=en&geocode=Fd-HOgIdLsK5-Cn9AcSKAbePgDERbI3X6x5n_A&aq=0&oq=396+&sll=37.397161,-122.024121&sspn=0.151922,0.305901&mra=ls&ie=UTF8&t=m&z=12", :style => "color:#0000FF;text-align:left"} View Larger Map
        %br
      .span8
        %h3
          %span.slash //
          Send a Message
        %br
        = simple_form_for @contact_us, :url => { :action => "contact_us_create" }, :validate => true do |f|
          = f.input :name, :label => 'Your name please'
          = f.input :email, :placeholder => 'user@domain.com'
          = f.input :description, :as => 'text', :input_html => {:style => 'width: 600px', :rows => 10}
          = f.button :submit
      .span4
        .sidebar
          %h3
            %span.slash //
            Contact Details
          %br
          %p
            %strong Address
            %br 396 Ano Nuevo Ave
            Sunnyvale, CA, 94085, USA
            %br
            %br
            %strong Phone and Email details
            %br Phone: (314) 277-1639
            Email: info@railsforcharity.com
            
          
