.container
  .row
    .span8
      %h3
        %span.slash //
        Get in Touch
      %p
        We want to hear from you! Just enter your name, email address, and message into the form below and send away.
      %br
      %h3
        %span.slash //
        Send a Message
      %br
      = simple_form_for @contact_us, :url => { :action => "contact_us_create" }, :validate => true do |f|
        = f.input :name, :label => 'Your good name'
        = f.input :email, :label => 'Your awesome email', :placeholder => 'you@awesome.com'
        = f.input :description, :label => 'Please tell me', :as => 'text', :input_html => {:style => 'width: 90%', :rows => 10}
        = f.button :submit, "Submit"

    .span4
      .sidebar
        %h3
          %span.slash //
          Contact Details
        %p
          %strong Address
          %br 396 Ano Nuevo Ave
          Sunnyvale, CA, 94085, USA
          %br
          %br
          %strong Phone and Email details
          %br Phone: (314) 277-1639
          Email: info@railsforcharity.com
      %br
      %iframe{:frameborder => "0", :height => "260", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=396+Ano+Nuevo+Ave,+Sunnyvale,+CA&sll=37.390303,-122.043858&sspn=0.039757,0.072784&ie=UTF8&hq=&hnear=396+Ano+Nuevo+Ave,+Sunnyvale,+California+94085&t=m&z=14&ll=37.390303,-122.043858&output=embed", :width => "100%"}
      %br/
      %small
        %a{:href => "https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=396+Ano+Nuevo+Ave,+Sunnyvale,+CA&sll=37.390303,-122.043858&sspn=0.039757,0.072784&ie=UTF8&hq=&hnear=396+Ano+Nuevo+Ave,+Sunnyvale,+California+94085&t=m&z=14&ll=37.390303,-122.043858", :style => "color:#0000FF;text-align:left", :target => "_blank"} View Larger Map