%div.home_page
  .hero.block
    .glow
      .container
        .logo_bar
          .logo
            =image_tag("logo/small.png")
          .usp
            %h1 Rails for Charity
            %h3 Open Source Web Based Applications for Charities and Charitable Causes

  .block
    .glow
      .container
        .row
          .span12
            %h1 Mission
            %p We believe that we can connect charities and charitable causes across the world to technology and help each other to achieve the social changes that we all want to see. So, we want to build open source web based applications which help in improving the society.
            %br

  - if 1 != 1
    #join.block
      .glow
        .container
          .row-fluid
            %ul.thumbnails
              %li.span4
                .thumbnail
                  %p.description If you are a charity and have some software needs which would help in your day to day work or for a social cause, then please signup as a Charity, create your profile and submit a project so that Rails for Charity volunteers and the registered company volunteers can work on those and help you achieve your software goals.
                  %p.sign_up
                    = link_to t('views.layouts._navigation.charity_sign_up'), new_user_registration_path(type: 'charity'), class: 'btn btn-large btn-success'
              %li.span4
                .thumbnail
                  %p.description If you are a company who want to volunteer your people resources for a social cause and earn some Karma, please signup as a Company and selectively add your employees and choose the projects that you want to support.
                  %p.sign_up
                    = link_to t('views.layouts._navigation.company_sign_up'), new_user_registration_path(type: 'company'), class: 'btn btn-large btn-info'
              %li.span4
                .thumbnail
                  %p.description If your an individual who is interested to volunteer your skills for a social cause and earn some Karma, please signup as an Individual and join the projects of your interests and start collaborating.
                  %p.sign_up
                    = link_to t('views.layouts._navigation.individual_sign_up'), new_user_registration_path(type: 'individual'), class: 'btn btn-large btn-primary'

  .block
    .glow
      .container
        .row
          .span12
            %h1 Motive
            %p
              %ol
                %li Incubate, foster, develop, mentor and support web based software projects which could potentially have a social impact.
                %br
                %li Fix the social problems that surround us through the use of our skills (Technology) and give something back to the society.
                %br
                %li Provide a platform for people to share/pitch their social impacting ideas, get help and be helped for achieving their goals.
                %br
                %li Many people work tirelessly to bring about a change they want, but these efforts are localized and individualistic (person or company) with little collaboration and sharing of knowledge & resources. So, we want to provide a single place for all such people  to collaborate and grow together faster. In short provide a platform for people who help others.
                %br
                %li Make Silicon Valley the starting point for such a unique open source initiative.

  .block
    .glow
      .container
        .row
          .span12
            %h1 Methodology
            %br
            %ol
              %li Anyone who has an idea would pitch.
              %br
              %li Members of RailsforCharity will vote on each idea and form teams to work on those ideas.
              %br
              %li The code will be open sourced. Friendly competition among the teams.
              %br
              %li Build a working version 0.1 in 2 weeks
              %br
              %li Deploy on heroku (heroku.com)
              %br
              %li Meet again, get feedback & assimilate new members into the picture
              %br
              %li Iterate continuously & get Beta out in 2 months.
              %br
              %li Spread the word.
              %br
              %li Monitor user engagement.
              %br
              %li Reshuffle teams...
              %br
              %li Keep iterating...

  .block
    .glow
      .container
        .row
          .span12
            %br
            %h1 Who can contribute?
            %br
            %p Because its not just about technology. Technology will make sure that the system will get build but people from other walks of life will need to take it ahead from there. So, we need Artists, Businessmen, Designers, Developers, Editors, Evangelists, Marketing, Sales, Lawyers, Writers, QA, etc... In short, anyone who can and want to contribute.

  #how_it_works.block
    .glow
      .container
        = render 'how_it_works'

  #supporters.block
    .glow
      .container
        = render 'supporters'

