%p#notice= notice

%p
  %b User:
  = @email_preference.user_id
%p
  %b Email type:
  = @email_preference.email_type
%p
  %b Entity:
  = @email_preference.entity_id
%p
  %b Entity type:
  = @email_preference.entity_type

= link_to 'Edit', edit_email_preference_path(@email_preference)
\|
= link_to 'Back', email_preferences_path
