= simple_form_for [@commentable, @comment] do |f|
  - if @comment.errors.any?
    .error_messages
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :parent_id
  %div{:style => "font-size: 15px;"}
    %i.icon-comment
    %span Comments
    = f.input :content, :label => false, :as => 'text', :input_html => { :style => 'width:84%', :rows => 5 }
  .form_actions
    = f.submit 'Comment', :class => 'btn btn-primary'