- @tags_array = Tag.find_all_by_tag_type('task').map(&:name).sort

:javascript
  $(document).ready(function() {
    $(".typeahead").tokenInput("/users.json", {
      minChars: 2,
      hintText: "Type name or username...",
      theme: "facebook",
      prePopulate: $(".typeahead").data("load"),
      preventDuplicates: true,
      resultsFormatter: function(item) {
        return "<li>" + "<img src='" + "/assets/avatar.png" + "' title='" + item.name + "' height='25px' width='25px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='name'>" + item.name + "</div></div></li>";
      }
    });
     $(".select_tags").select2({
      tags: #{@tags_array},
      tokenSeparators: [',', ' '],
      placeholder: "Select existing tags or add new ones...",
      width: '50%'
    });
  });

= simple_form_for @task do |f|
  = f.error_notification

  .form-inputs
    = f.input :project_id, :collection => @user.projects, :label_method => :name, :include_blank => false
    = f.input :name, :label => 'Story Title', :input_html => { :style => 'width:50%' }
    = f.input :description, :label => 'Story Description', :input_html => { :style => 'width: 100%', :rows => 10 }
    = f.input :tag_names, :input_html => { :class => 'select_tags', data: { load: @task.tags } }, :label => 'Add Tags'
    * Estimated Time
    = f.input :estimated_hours, :label => false, :collection => 0..8, :prompt => 'Hours'
    = f.input :estimated_minutes, :label => false, :collection => (0..59).step(15), :prompt => 'Minutes'
    = f.input :category, :collection => Task::CATEGORIES, :include_blank => false
    = f.input :task_type, :as => :radio, :item_wrapper_class => 'inline', :collection => ['Feature', 'Bug', 'Chore'], :include_blank => false

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'