.sidebar
  %h3
    %span.slash //
    Help
  %p
    %br
    %strong Project
    %br
    = t('views.tasks.help.project')
    %br
    %br
    %strong Story Title
    %br
    = t('views.tasks.help.title')
    %br
    %br
    %strong Description
    %br
    = t('views.tasks.help.description')
    %br
    %br
    %strong Tags
    %br
    = t('views.tasks.help.tags')
    %br
    %br
    %strong Estimated Time
    %br
    = t('views.tasks.help.estimated_time')
    %br
    %br
    %strong Category
    %br
    = t('views.tasks.help.category')
    %br
    %br
    %strong Type
    %br
    = t('views.tasks.help.type')