- project = @task.project
= ProjectPresenter.new(project, self).avatar_name
- taskp = TaskPresenter.new(@task, self)

%br
%br
%h4 Project Name
%p= project.name
%h4 Requester
%p= taskp.creator_name
- if @task.status == Task::STATUSES[:ongoing]
  %h4 Assigned to
  = taskp.assignee_name
- if @task.status == Task::STATUSES[:closed]
  %h4 Accomplished by
  = taskp.assignee_name
%br
%br
