- project = @task.project
= ProjectPresenter.new(project, self).avatar_name
- taskp = TaskPresenter.new(@task, self)

%br
%br
%h4 Project Name
%p= project.name
%h4 Requester
%p= taskp.creator_name
- if @task.status == Task::STATUSES[:ongoing]
  %h4 Task assigned to
  = taskp.assignee_name
  %h4 Estimated time:
  #{taskp.estimated_time}
- if @task.status == Task::STATUSES[:delivered]
  %h4 Task deivered by
  = taskp.assignee_name
- if @task.status == Task::STATUSES[:done]
  %h4 Task accomplished by
  = taskp.assignee_name
- if @task.status == Task::STATUSES[:open]
  %h4 Estimated time:
  #{taskp.estimated_time}
