:javascript
  $(document).ready(function() {
    $('.datatable').dataTable({
      //"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
      'sPaginationType': 'bootstrap',
      "bJQueryUI": true
      //"bProcessing": true,
      //"bServerSide": true,
      //"sAjaxSource": $('.datatable1').data('source')
    });
  });


.row
  .span12
    %h2 Tasks
    .tabbable.box-sizing
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Open
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} On Going
        %li
          %a{"data-toggle" => "tab", :href => "#tab3"} Done
      .tab-content
        #tab1.tab-pane.active
          %table.table.table-striped.table-hover.table-bordered.datatable.display
            %thead
              %th Task
              %th Description
              %th Type
              %th Estimated Time
              %th Requested By
              %th Project Name
              %th Actions
            %tbody
              - Task.open_tasks.each do |task|
                - taskp = TaskPresenter.new(task, self)
                %tr
                  %td= link_to task.name, task_path(task)
                  %td= truncate(task.description, length: 30).html_safe
                  %td= task.task_type
                  %td= taskp.estimated_time
                  %td= link_to task.creator.name, user_path(task.creator)
                  %td= link_to task.project.name, project_path(task.project)
                  %td
                    = simple_form_for [task], :url => assign_me_task_path(task), :method => :post do |f|
                      = f.button :submit, 'Assign to me', class: 'btn-small btn-table btn-assign'
        #tab2.tab-pane
          %table.table.table-striped.table-hover.table-bordered.datatable
            %thead
              %th Title
              %th Description
              %th Type
              %th Estimated Time
              %th Requested By
              %th Project Name
              %th Assigned to
              %th Actions
            %tbody
              - Task.ongoing.each do |task|
                - taskp = TaskPresenter.new(task, self)
                %tr
                  %td= link_to task.name, task_path(task)
                  %td= truncate(task.description, length: 30)
                  %td= task.task_type
                  %td= taskp.estimated_time
                  %td= link_to task.creator.name, user_path(task.created_by)
                  %td= link_to task.project.name, project_path(task.project)
                  %td= link_to task.assignee.name, user_path(task.assigned_to)
                  %td
                    = simple_form_for [task], :url => finish_task_path(task), :method => :post do |f|
                      = f.button :submit, 'Deliver', class: 'btn-small btn-deliver'
                      %br
                      %br
                    = simple_form_for [task], :url => unassigned_task_path(task), :method => :post do |f|
                      = f.button :submit, 'I can\'t do it', class: 'btn-small btn-unassign'
        #tab3.tab-pane
          %table.table.table-striped.table-hover.table-bordered.datatable
            %thead
              %th Title
              %th Description
              %th Type
              %th Hours
              %th Requested By
              %th Project Name
              %th Task Accomplished by
              %th Actions
            %tbody
              - Task.done.each do |task|
                - taskp = TaskPresenter.new(task, self)
                %tr
                  %td= link_to task.name, task_path(task)
                  %td= truncate(task.description, length: 30)
                  %td= task.task_type
                  %td= taskp.estimated_time
                  %td= link_to task.creator.name, user_path(task.created_by)
                  %td= link_to task.project.name, project_path(task.project)
                  %td= link_to task.assignee.name, user_path(task.assigned_to)
                  %td
                    = simple_form_for [task], :url => finish_task_path(task), :method => :post do |f|
                      = f.button :submit, 'Accept', class: 'btn-small btn-lima'
                    = simple_form_for [task], :url => finish_task_path(task), :method => :post do |f|
                      = f.button :submit, 'Reject', class: 'btn-small btn-warning'