.row
  .span12
    .pull-left
      .span8
        %h4 Task Title
        = @task.name
        %br
        %br
        %h4 Task Description
        = @task.description.html_safe
        %br
    .span3
      .pull-right
        = render :partial => 'info', :locals => { :show => true}
        %h4 Estimated Hours
        = @task.hours
  .span12
    = render :partial => 'comments/form'
    = nested_comments @comments.arrange(:order => :created_at)
