.row
  .span12
    .pull-left
      .span8
        %h4 Task Title
        = @task.name
        %br
        %br
        %h4 Task Description
        = @task.description.html_safe
        %br
    .span3
      .pull-right
        = ProjectPresenter.new(@project,self).avatar_name
        %h4 Project Name
        %p= @project.name
        %h4 Task Requester
        %p= User.find(@task.created_by).name
        - if @task.status == Task::STATUSES[:ongoing]
          %h4 Assigned to
          = User.find(@task.assigned_to).name
        - if @task.status == Task::STATUSES[:closed]
          %h4 Accomplished by
          = User.find(@task.assigned_to).name
        %h4 Estimated Hours
        = @task.hours
.row
  .span12
    = nested_comments @comments.arrange(:order => :created_at)
    = render :partial => 'comments/form'