- taskp = TaskPresenter.new(@task, self)

.row
  .span10
    %h4 Task Title
    = @task.name
    %br
    %br
    %h4 Task Description
    = @task.description
    %br
    %br
    = render :partial => 'comments/form'
    = nested_comments @comments.arrange(:order => :created_at)

  .span2
    = render :partial => 'info', :locals => { :show => true }
    %h4 Estimated time:
    #{taskp.estimated_time}
    %br
    %br
    -if @task.status == 'open'
      = simple_form_for [@task.project, @task], :url => assign_me_task_path(@task), :method => :post do |f|
        = f.button :submit, 'Assign to me', class: 'btn-small btn-table btn-assign'
    -elsif @task.status == 'ongoing'
      = simple_form_for [@task.project, @task], :url => finish_task_path(@task), :method => :post do |f|
        = f.button :submit, 'Deliver', class: 'btn-small btn-table btn-deliver'
        = f.button :submit, "I can't do it.", class: 'btn-small btn-table btn-unassign'
    -else @task.status == 'done'
      = simple_form_for [@task.project, @task], :url => finish_task_path(@task), :method => :post do |f|
        = f.button :submit, 'Accept', class: 'btn-small btn-table btn-lima'
        = f.button :submit, 'Reject', class: 'btn-small btn-table btn-warning'

    = link_to 'Edit', edit_task_path(@task)
