%h1 Crop Avatar
= image_tag @user.avatar.image_url(:large).to_s, id: "cropbox"
= form_for [@user, @user.avatar] do |f|
  - %w[x y w h].each do |attribute|
    = f.text_field "crop_#{attribute}"
  .actions
    = f.submit "Crop"

%h4 Preview
%div(style="width:100px; height:100px; overflow:hidden")
  = image_tag @user.avatar.image_url(:large), :id => "preview"

= form_for [@user, @user.avatar] do |f|
  - %w[x y w h].each do |attribute|
    = f.hidden_field "crop_#{attribute}"
  .actions
    = f.submit "Crop"
