= provide(:title, "User #{@user.name}")
.container
  .row
    .span9
      .pull-left
        - if @user.avatar
          = image_tag @user.avatar.image_url(:thumb).to_s
        - else
          = image_tag 'default.png'
          = simple_form_for @user, :validate => true, :html => {:multipart => true} do |f|
            = f.fields_for :avatar, @user.avatar || Avatar.new do |a|
              = a.file_field :image
            = f.submit 'Save Changes', :class => 'btn btn-primary'
        %br
        %br
        %b Name:
        = @user.name
        %br
        %b About me:
        = @user.try(:bio).try(:html_safe)
        %br
        %br
        %b Collaborating on:
        %br
        - @user.projects.map(&:name).each do |project|
          %p.span3.label= project
- if current_user == @user
  = link_to 'Edit', edit_user_path(@user)
  \|

= link_to 'Back', users_path
