:javascript
  $(document).ready(function () {
    $(".typeahead").tokenInput("/users.json", {
      minChars: 2,
      hintText: 'Type name or username...',
      theme: 'facebook',
      prePopulate: $('.typeahead').data('load'),
      resultsFormatter: function(item) {
        return "<li>" + "<img src='" + '/assets/avatar.png' + "' title='" + item.name + "' height='25px' width='25px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='name'>" + item.name + "</div></div></li>"
      },
    });
  });

= simple_form_for @project do |f|
  = f.error_notification
  .pull-right
    - if @project.avatar
      = image_tag @project.avatar.image_url(:thumb).to_s
    = f.fields_for :avatar, @project.avatar || Avatar.new do |a|
      = a.file_field :image

  .form-inputs
    = f.input :name
    = f.input :title, :input_html => { :style => 'width:90%' }
    = f.input :description, :as => :ckeditor, :input_html => { :toolbar => 'Basic' }
    %br
    = f.input :collaborator_tokens, :input_html => { :class => 'typeahead', data: { load: @project.users } }, :label => 'Add Collaborators'

  .form-actions
    = f.button :submit, button_text, :class => 'btn btn-primary'
