- @tags_array = ['Education', 'Raising Funds', 'Feeding Homeless People', 'Health Care', 'Agricultural Production', 'Sustainable Construction', 'Citizen Activism', 'Empowerment', 'Childhood Education', 'Affordable Transportation', 'Community Solidarity', 'Efficacy']

:javascript
  $(document).ready(function() {
    $(".typeahead").tokenInput("/users.json", {
      minChars: 2,
      hintText: "Type name or username...",
      theme: "facebook",
      prePopulate: $(".typeahead").data("load"),
      preventDuplicates: true,
      resultsFormatter: function(item) {
        return "<li>" + "<img src='" + "/assets/avatar.png" + "' title='" + item.name + "' height='25px' width='25px' />" + "<div style='display: inline-block; padding-left: 10px;'><div class='name'>" + item.name + "</div></div></li>";
      }
    });
     $(".select_tags").select2({
      tags: #{@tags_array},
      tokenSeparators: [',', ' '],
      placeholder: "Select existing tags or add new ones...",
      width: '50%'
    });
  });


= simple_form_for @project do |f|
  = f.error_notification
  .pull-right
    - if @project.avatar
      = image_tag @project.avatar.image_url(:thumb).to_s
    = f.fields_for :avatar, @project.avatar || Avatar.new do |a|
      = a.file_field :image

  .form-inputs
    = f.input :name
    = f.input :title, :input_html => { :style => 'width:90%' }
    = f.input :description, :as => :ckeditor, :input_html => { :toolbar => 'Basic' }
    = f.input :tag_names, :input_html => { :class => 'select_tags', data: { load: @project.tags } }, :label => 'Add Tags'
    %br
    = '* Public Profile Url'
    .input-prepend
      %span.add-on
        http://railsforcharity.org/
      - if edit
        = f.input :profile_url, :label => false, :disabled => true
      - else
        = f.input :profile_url, :label => false
    %br
    = f.input :website
    = f.input :video
    %br
    = f.input :collaborator_tokens, :input_html => { :class => 'typeahead', data: { load: @project.users } }, :label => 'Add Collaborators'
    - if !edit
      %br
      = f.input :terms, :label => false, :as => :boolean, :inline_label => 'By clicking on the check box, you agree with the Terms and Conditions of RailsforCharity.'
      -# TODO: Make Terms & Conditions Page

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'