= simple_form_for @project do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :title, :input_html => {:style => 'width:90%'}
    = f.input :description, :as => :ckeditor, :input_html => { :toolbar => 'Basic' }

  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
