.sidebar
  %h3
    %span.slash //
    Help
  %p
    %br
    %strong Name & Picture
    %br
    = t('views.projects.help.name_and_picture')
    %br
    %br
    %strong Title
    %br
    = t('views.projects.help.title')
    %br
    %br
    %strong Description
    %br
    = t('views.projects.help.description')
    %br
    %br
    %strong Website
    %br
    = t('views.projects.help.website')
    %br
    %br
    %strong Public Profile Url
    %br
    = t('views.projects.help.profile_url')
    %br
    %br
    %strong Video Url
    %br
    = t('views.projects.help.video')
    %br
    %br
    %strong Collaborators
    %br
    = t('views.projects.help.collaborators')