.row
  - @projects.each do |project|
    - project_presenter = ProjectPresenter.new(project, self)
    .project_content
      .span5
        .row
          .span3
            - if project.avatar
              = link_to image_tag(project.avatar.image_url(:thumb).to_s), project_path(project)
            -else
              = image_tag 'default.png'
            .caption
              %h3=link_to project.name, project_path(project)
              %b Idea Master: #{link_to project.creator.name, user_path(project.created_by)}
          .span2
            %ul{:style=>'list-style:none'}
              %li
                .pull-left
                  - if !project_presenter.is_collaborator?
                    -#.btn.btn-success.btn-large Join
              %li
                %em
                  #{pluralize project.reputation_value_for(:votes).to_i, "vote"}
                  - if current_user && !current_user.voted_for?(project)
                    .btn.btn-inverse
                      = link_to "", vote_project_path(project, type: "up"), method: "post", class: 'icon-hand-up icon-white'
                    .btn
                      = link_to "", vote_project_path(project, type: "down"), method: "post", class: 'icon-black icon-hand-down'
        .row
          .span5
            %b Mission: #{project.title}
            %br
            %br
            = render :partial => 'projects/collaborators', :locals => { project: project, size: 50}
      .span4
        -if project.video != ""
          %iframe{:allowfullscreen => '', :frameborder => '0', :height => '360', :src => "#{project.video}", :width => '100%'}
        -else
          %div.video
            %p.video_text Video is coming soon!
      .span2
        %p
          =truncate(project.description, length: 350 )
          .pull-right
            = link_to "more ...", project

