.container
  .row-fluid
    %h1 RFC Projects
    %br.span2.search_box
    %input(type="text" placeholder="Search..." id="filter")
      .project_box

        - @projects.each do |project|
          #project_content
            - if project.avatar
              = link_to image_tag(project.avatar.image_url(:thumb).to_s), project_path(project)
            .caption
              %h3=link_to project.name, project_path(project)
              %p= project.title
              %p Creator: #{link_to project.creator.name, user_path(project.created_by)}
            .project
              %em
                \-- #{project.name}
                | #{pluralize project.reputation_value_for(:votes).to_i, "vote"}
                - if current_user && !current_user.voted_for?(project)
                  | #{link_to "up", vote_project_path(project, type: "up"), method: "post"}
                  | #{link_to "down", vote_project_path(project, type: "down"), method: "post"}