.container
  .row-fluid
    %h1 RFC Projects
    %br
    - @projects.each do |project|
      %ul.thumbnails
        %li.span4
          .thumbnail
            - if project.avatar
              = link_to image_tag(project.avatar.image_url(:thumb).to_s), project_path(project)
            .caption
              %h3= project.name
              %p= project.title
              %p Creator: #{User.find(project.created_by).name}
            .project
              %em
                \-- #{project.name}
                | #{pluralize project.reputation_value_for(:votes).to_i, "vote"}
                | #{link_to "up", vote_project_path(project, type: "up"), method: "post"}
                | #{link_to "down", vote_project_path(project, type: "down"), method: "post"}
              
