.container-fluid
  .row-fluid
    .span9
      .pull-left
        - if @project.avatar
          = image_tag @project.avatar.image_url(:thumb).to_s
        %br
        %br
        %b Votes:
        = pluralize @project.reputation_value_for(:votes).to_i, "vote"
        %br
        %b Name:
        = @project.name
        %br
        %b Description:
        = @project.description.html_safe


= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
