.row
  - present @project do |project|
    %a(href="#{project.github_url}" target="_blank")
      %img.home_github_fork{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"}/
    .span3
      = project.avatar_name
      %br
      %h2(style="color:#880000")
        = project.name
      = project.title
      %br
      = project.website
      %br
        -if project.status == "confirm"
          %a(href="#{project.github_url}" target="_blank")
            %p Browse Github Source Code
          %a(href="#{project.travis_url}")
            %img(alt="Build Status" src="#{project.travis_url}" height="20px")
      %span
        .hours_worked
          =@project.hours_worked
          %br
          %sub Hours Worked

      %br
      %br
      .btn.btn-inverse
        =link_to "", vote_project_path(project, type: "up"), method: "post", class: 'icon-hand-up icon-white'
      .btn
        =link_to "", vote_project_path(project, type: "down"), method: "post", class: 'icon-black icon-hand-down'
      =pluralize project.reputation_value_for(:votes).to_i, "vote"

      - if !project.categories.empty?
        %br
        %br
        %h3 Project Categories
        - project.categories.each do |tag|
          %span.label(style="background:##{tag.color}")= tag.name
      - if !project.technologies.empty?
        %br
        %br
        %h3 Technology Stack
        - project.technologies.each do |tag|
          %span.label(style="background:##{tag.color}")= tag.name
      - if project.is_member?
        %br
        %br
        = link_to 'New Task', new_project_task_path(project), :class => 'btn btn-large btn-success'

    .span5
      -if !project.video.blank? && project.video.starts_with?("http")
        %iframe(allowfullscreen='' frameborder='0' height='360' src="#{project.video}" width='100%')
      -else
        %div.video
          %p.video_text Video is coming soon!
      -#-if can_edit?(project)
      -#  %p=link_to 'Edit project details', edit_project_path(project)

    .span4
      .sidebar
        %h3 Pitch
        %br
        %p
          = raw markdown.render(project.description)

  .span12
    %br
    %h3 Tasks
    %br
    = render :partial => 'projects/tasks'
  .span12
    %br
    = render :partial => 'projects/collaborators', :locals => { project: @project, size: 80 }
