.row
  .span3
    .pull-left
      - if @project.avatar
        = image_tag @project.avatar.image_url(:thumb).to_s
      %br
      %br
      %h2{style:"color:#880000"}
        = @project.name
      = @project.title
      %br
      %br
      %a(href="#{@project.website}" target="_blank")
        = @project.website
      %br
        -if @project.status == "confirm"
          %a{:href => "#{@project.github_url}", :target => "_blank"}
            %p Browse Github Source Code
          %a{:href => "#{@project.travis_url}"}
            %img{:alt => "Build Status", :src => "#{@project.travis_url}", :height => "20px"}
      %br
      %br
      %h3 Project Categories
      -@project.tags.map(&:name).each do |tag|
        %p.label #{tag}
      %br
      - if is_collaborator?(@project)
        = link_to 'Add New Task', new_project_task_path(@project), :class => 'btn btn-success'

  .span9
    .span5
      #{pluralize @project.reputation_value_for(:votes).to_i, "vote"}
      .btn.btn-inverse
        = link_to "", vote_project_path(@project, type: "up"), method: "post", class: ' icon-hand-up icon-white'
      .btn
        = link_to "", vote_project_path(@project, type: "down"), method: "post", class: 'icon-black icon-hand-down'
    .span3
      .span2
        .pull-right
          - if !is_collaborator?(@project)
            .btn.btn-success.btn-large Join
          .btn.btn.btn-large Donate
  .span5
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "#{@project.video}", :width => "550"}
  .span3.offset1
    %br
      %b Pitch:
      %br
      = @project.description.html_safe
%br
%br
.row
  .span12
    %br
    %h3 Project Tasks
    %br
    %h4 Open Tasks
    %br
    %table.table.table-striped.table-hover.table-bordered
      %thead
        %th Title
        %th Description
        %th Type
        %th Estimated Hours
        %th Actions
      %tbody
        - @project.tasks.open_tasks.each do |task|
          %tr
            %td= link_to task.name, project_task_path(@project, task)
            %td= task.description.html_safe
            %td= task.task_type
            %td= task.hours
            %td= link_to 'Assign to me', '#', :class => 'btn btn-primary'

    .pull-right
      = link_to "more ..."
    %h4 Ongoing Tasks
    %br
    %table.table.table-striped.table-hover.table-bordered
      %thead
        %th Title
        %th Description
        %th Type
        %th Estimated Hours
        %th Actions
      %tbody
        - @project.tasks.in_progress.each do |task|
          %tr
            %td= link_to task.name, project_task_path(@project, task)
            %td= task.description.html_safe
            %td= task.task_type
            %td= task.hours
            %td= link_to 'Finish', '#', :class => 'btn btn-primary'

    .pull-right
      = link_to "more ..."
    %h4 Closed Tasks
    %br
    %table.table.table-striped.table-hover.table-bordered
      %thead
        %th Title
        %th Description
        %th Type
        %th Hours
      %tbody
        - @project.tasks.closed.each do |task|
          %tr
            %td= link_to task.name, project_task_path(@project, task)
            %td= task.description.html_safe
            %td= task.task_type
            %td= task.hours
    .pull-right
      = link_to "more ..."
.row
  .span12
    %br
    %h3 Contributors
    %br
    .span3{style:"height:50px; width:50px"}
      -@project.users.each do |user|
        -if user.avatar
          = image_tag user.avatar.image_url(:thumb).to_s
    .span6
      %p This error is most often caused by having no connection to the Internet or a misconfigured network.
.row
  %br
