.row
  - present @project do |project|
    .span3
      = project.avatar_name
      %br
      %br
      %h2{style:"color:#880000"}
        = project.name
      = project.title
      %br
      %br
      = project.website
      %br
        -if project.status == "confirm"
          %a{:href => "#{project.github_url}", :target => "_blank"}
            %p Browse Github Source Code
          %a{:href => "#{project.travis_url}"}
            %img{:alt => "Build Status", :src => "#{project.travis_url}", :height => "20px"}
      %br
      %br
      %h3 Project Categories
      - project.tags.map(&:name).each do |tag|
        %p.label= tag
      %br
      - if project.is_collaborator?
        = link_to 'Add New Task', new_project_task_path(project), :class => 'btn-large btn-success'
    .span8
      .span5
        #{pluralize project.reputation_value_for(:votes).to_i, "vote"}
        .btn.btn-inverse
          = link_to "", vote_project_path(project, type: "up"), method: "post", class: 'icon-hand-up icon-white'
        .btn
          = link_to "", vote_project_path(project, type: "down"), method: "post", class: 'icon-black icon-hand-down'
      .span2
        .span1
          .pull-right
            .btn.btn.btn-large Donate
            - if !project.is_collaborator?
              .btn.btn-success.btn-large Join
            %br
            %br
    .span5
      -if project.video != ""
        %iframe{:allowfullscreen => '', :frameborder => '0', :height => '360', :src => "#{project.video}", :width => '100%'}
      -else
        %div.video
          %p.video_text Video is coming soon!
      -if can_edit?(project)
        %p=link_to 'Edit your page', edit_project_path(project)
    %br
    .span4
      .sidebar
        %br
          %h3 Pitch
          %br
          = project.description.html_safe
  .span12
    %br
    %h3 Project Tasks
    %br
    .tabbable.box-sizing
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} Open
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} On Going
        %li
          %a{"data-toggle" => "tab", :href => "#tab3"} Done
      .tab-content
        #tab1.tab-pane.active
          %h4 Open Tasks
          %br
          %table.table.table-striped.table-hover.table-bordered
            %thead
              %th Title
              %th Description
              %th Type
              %th Estimated Hours
              %th Requested By
              %th Actions
            %tbody
              - @project.tasks.open_tasks.each do |task|
                - if task.status == Task::STATUSES[:open]
                  %tr
                    %td= link_to task.name, project_task_path(@project, task)
                    %td= truncate(task.description.html_safe, length: 30)
                    %td= task.task_type
                    %td= task.hours
                    %td= link_to User.find(task.created_by).name, user_path(task.created_by)
                    %td
                      = simple_form_for [@project, task], :url => assign_me_task_path(task), :method => :post do |f|
                        = f.button :submit, 'Assign to me', class: 'btn-small btn-table'
          .pull-right
            = link_to "more ..."
        #tab2.tab-pane
          %h4 Ongoing Tasks
          %br
          %table.table.table-striped.table-hover.table-bordered
            %thead
              %th Title
              %th Description
              %th Type
              %th Estimated Hours
              %th Requested By
              %th Assigned to
              %th Actions
            %tbody
              - @project.tasks.ongoing.each do |task|
                -if task.status == Task::STATUSES[:ongoing]
                  %tr
                    %td= link_to task.name, project_task_path(@project, task)
                    %td= truncate(task.description.html_safe, length: 17)
                    %td= task.task_type
                    %td= task.hours
                    %td= link_to User.find(task.created_by).name, user_path(task.created_by)
                    %td
                      = link_to User.find(task.assigned_to).name, user_path(task.assigned_to)
                    %td
                      = simple_form_for [@project, task], :url => finish_task_path(task), :method => :post do |f|
                        = f.button :submit, 'Deliver', class: 'btn-small'
                        %br
                        %br
                      = simple_form_for [@project, task], :url => unassigned_task_path(task), :method => :post do |f|
                        = f.button :submit, 'I can\'t do it', class: 'btn-small'

          .pull-right
            = link_to "more ..."
        #tab3.tab-pane
          %h4 Closed Tasks
          %br
          %table.table.table-striped.table-hover.table-bordered
            %thead
              %th Title
              %th Description
              %th Type
              %th Hours
              %th Requested By
              %th Task Accomplished by
            %tbody
              - @project.tasks.closed.each do |task|
                -if task.status == Task::STATUSES[:closed]
                  %tr
                    %td= link_to task.name, project_task_path(@project, task)
                    %td= truncate(task.description.html_safe, length: 30)
                    %td= task.task_type
                    %td= task.hours
                    %td= link_to User.find(task.created_by).name, user_path(task.created_by)
                    %td= link_to User.find(task.assigned_to).name, user_path(task.assigned_to)
          .pull-right
            = link_to "more ..."
  .span12
    %h3 Contributors
    %br
    .span3{style:"height:50px; width:50px"}
      - @project.users.each do |user|
        - if user.avatar
          = image_tag user.avatar.image_url(:thumb).to_s
    .span6
      %p This error is most often caused by having no connection to the Internet or a misconfigured network.