.row
  - present @project do |project|
    = link_to_image("https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", { alt: "Fork me on GitHub", class: 'home_github_fork' }, project.github_url)
    .span3
      = project.avatar_name
      %br
      %h2(style="color:#880000")
        = project.name
      = project.title
      %br
      = project.website
      %br
      %br
      %span
        .hours_worked
          =@project.hours_worked
          %br
          %sub Hours Worked
      %br
      %br

      -if project.status == "confirm"
        = link_to_image("#{project.travis_url}.png", { alt: 'Build Status', height: '16px'}, project.travis_url)
        %br
        %br

      .btn
        =link_to "", vote_project_path(project, type: "up"), method: "post", class: 'icon-thumbs-up'
      .btn.btn-danger
        =link_to "", vote_project_path(project, type: "down"), method: "post", class: 'icon-thumbs-down'
      =pluralize project.reputation_value_for(:votes).to_i, "vote"

      - if !project.categories.empty?
        %br
        %br
        %h3 Project Categories
        - project.categories.each do |tag|
          %span.label(style="background:##{tag.color}")= tag.name
      - if !project.technologies.empty?
        %br
        %br
        %h3 Technology Stack
        - project.technologies.each do |tag|
          %span.label(style="background:##{tag.color}")= tag.name
      - if project.is_member?
        %br
        %br
        = link_to 'New Task', new_project_task_path(project), :class => 'btn btn-large btn-success'

    .span5
      -if !project.video.blank? && project.video.starts_with?("http")
        %iframe(allowfullscreen='' frameborder='0' height='360' src="#{project.video}" width='100%')
      -else
        %div.video
          %p.video_text Video is coming soon!
      -#-if can_edit?(project)
      -#  %p=link_to 'Edit project details', edit_project_path(project)

    .span4
      .sidebar
        %h3 Pitch
        %br
        %p
          = raw markdown.render(project.description)

    .span12
      %br
      %h3 Tasks
      %br
      = render :partial => 'projects/tasks'
    .span12
      %br
      = render :partial => 'projects/collaborators', :locals => { project: @project, size: 80 }

    .span12
      %h3 Contacts
      %br
      %span Email Address:
      %u info@railsforcharity.org
      %br
      - if project.name == "Spokenvote"
        %span Google Group Email Address:
        %u=project.google_group_email
        %a(href="#{project.google_url}" target="_blank")
          %p Join #{project.name} Google Group

