.container
  .row
    .span3
      .pull-left
        - if @project.avatar
          = image_tag @project.avatar.image_url(:thumb).to_s
        %br
        %br
        %h2{style:"color:#880000"}
          = @project.name
        = @project.title
        %br
        %br
        %a{:href => @project.website, :target => "_blank"}
          = @project.website
        %br
          -if @project.status == "confirm"
            %a{:href => "#{@project.github_url}", :target => "_blank"}
              %p Browse Github Source Code
            %a{:href => "#{@project.travis_url}"}
              %img{:alt => "Build Status", :src => "#{@project.travis_url}", :height => "20px"}/
        %br
        %br
        %h3 Project Categories
        -@project.tags.map(&:name).each do |tag|
          %p.label #{tag}
        %br

    .span9
      .span5
        #{pluralize @project.reputation_value_for(:votes).to_i, "vote"}
        .btn.btn-inverse.btn-small.disabled
          .icon-white.icon-hand-up
            #{link_to ".", vote_project_path(@project, type: "up"), method: "post"}
        .btn.btn-failure.btn-small
          .icon-hand-down
            #{link_to ".", vote_project_path(@project, type: "down"), method: "post"}
      .span3
        .span2
          .pull-right
            - if !current_user or !current_user.is_collaborator?(@project)
              .btn.btn-success.btn-large Join
            .btn.btn.btn-large Donate
    .span5
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "360", :src => "#{@project.video}", :width => "550"}
    .span3.offset1
      %br
        %b Pitch:
        %br
        = @project.description.html_safe
  %br
  %br
  .row
    .span12.tasks
      %br
      .span9
        %h3 Project Tasks
        %br
        .tabbable
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#tab1"} Current
            %li
              %a{"data-toggle" => "tab", :href => "#tab2"} Open
            %li
              %a{"data-toggle" => "tab", :href => "#tab3"} Done
          .tab-content
            #tab1.tab-pane.active
              %ol
                %li more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                %li more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                %li more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            #tab2.tab-pane
              %ol
                %li more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                %li more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                %li Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            #tab3.tab-pane
              %ol
                %li Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                %li Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                %li more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      .span2
        = link_to 'Add New Task', new_project_task_path(@project), :class => 'btn btn-success'


  .row
    .span12
      %br
      %h3 Contributors
      %br
      .span3{style:"height:50px; width:50px"}
        -@project.users.each do |user|
          -if user.avatar
            = image_tag user.avatar.image_url(:thumb).to_s
      .span6
        %p  This error is most often caused by having no connection to the Internet or a misconfigured network.
  .row
    %br
