- taskp = TaskPresenter.new(@task, self)

%div{:style => "font-family:arial,verdana,sans-serif;font-size:12px; margin: 5px;"}
  %p Hello #{@user.name},
  %br
  %p
    The task you have requested,
    %a{:href => "http://railsforcharity.org/tasks/" + @task.id.to_s, :target => "_blank"}
      %span.thick=@task.name
    is now assigned to #{taskp.assignee_name}
  %p
    You can edit your requirements
    %a{:href => "http://railsforcharity.org/tasks/" + @task.id.to_s + '/edit', :target => "_blank"}
      %span.thick="http://railsforcharity.org/tasks/" + @task.id.to_s + '/edit' + '.'
  %br
  %table.table.table-striped.table-hover
    %tbody
      %tr
        %th Project
        %td
          %h5= @task.project.name
      %tr
        %th Task
        %td= @task.name
      %tr
        %th Description
        %td= @task.description
      %tr
        %th Delivered By
        %td=taskp.assignee_name
      %tr
        %th Type
        %td= @task.task_type
      %tr
        %th Estimated Time
        %td= taskp.estimated_time
      %tr
        %th Category
        %td= Task::CATEGORIES.key(@task.category)
