!!!
%html
  = render :partial => 'layouts/head'
  %body
    %header
    .navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'
    .container
      = render 'layouts/messages'
    = yield
    = render 'layouts/footer'

