!!!
%html
  = render :partial => 'layouts/head'
  %body
    %header
      .navbar.navbar-fixed-top
        %nav.navbar-inner
          .container
            = render 'layouts/navigation'
    .container
      = render 'layouts/messages'
      %a{:href => "https://github.com/railsforcharity/railsforcharity"}
        %img.home_github_fork{:alt => "Fork me on GitHub", :src => "https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"}/
    = yield
    = render 'layouts/footer'

