!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    <!-- Google site -->
    %meta(name="google-site-verification" content="QSkBYTANwd-a54jLK8OpuITe1yZpIsF93DlqlPnM6PY")
    <!-- /Google site -->

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    <!-- Favicon -->
    %link{:href => "assets/icons/favicon.ico", :rel => "icon", :type => "image/ico"}
    <!-- /Favicon -->

    <!-- Title -->
    %title= content_for?(:title) ? yield(:title) : "Rails For Charity"
    <!-- /Title -->

    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    <!-- CSS & JS -->
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    <!-- /CSS & JS -->

    = csrf_meta_tags
    = yield(:head)
    <!-- Google Analytics -->
    - if Rails.env.production?
      = render :partial => 'layouts/ga'
    <!-- /Google Analytics -->

  %body
    = render 'layouts/messages'
    %br
    <!-- Content -->
    #content
      = content_for?(:content) ? yield(:content) : yield
    <!-- Content -->

    <!-- Footer -->
    .navbar.navbar-fixed-bottom
      %nav.navbar-inner
        = render 'layouts/footer'
    <!-- /Footer -->



